.switch-tab{
    height: 34px;
    background-color: #fff;
    border-radius: 20px;
    padding: 2px;
}
.tab-items{
    display: flex;
    align-items: center;
    height: 30px;
    height: 30px;
    position: relative;
}
.tab-item{
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black);
    font-size: 14px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.tab-item.active{
    color: #fff;
}
.moving-bg{
    height: 30px;
    width: 100px;
    background-image: var(--gradient);
    position: absolute;
    left: 0;
    transition: 0.3s all ease-in-out;
    border-radius: 15px;
}